<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="SingleApiConnectionStrings" connectionString="Data Source=localhost;Initial Catalog=FoodkingdomCN;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />
    <add name="AuthenApiConnectionStrings" connectionString="Data Source=localhost;Initial Catalog=OpenApi;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />-->
    <!--线上海底捞测试库-->
    <!--<add name="SingleApiConnectionStrings" connectionString="Data Source=172.16.8.139;Initial Catalog=hdl;Persist Security Info=True;User ID=etaoshi_master;Password=Tr1iV8Q7sY005;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />-->
    <!--中餐测试库-->
    <!--<add name="SingleApiConnectionStrings" connectionString="Data Source=172.16.5.51;Initial Catalog=Foodking;Persist Security Info=True;User ID=etaoshi_master;Password=Tr1iV8Q7sY005;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />
    <add name="AuthenApiConnectionStrings" connectionString="Data Source=172.16.5.51;Initial Catalog=OpenApi;Persist Security Info=True;User ID=etaoshi_master;Password=Tr1iV8Q7sY005;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />-->
    <add name="SingleApiConnectionStrings" connectionString="Data Source=10.8.8.50;Initial Catalog=FoodkingdomCN_Dev;Persist Security Info=True;User ID=dev_master;Password=dev_master;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />
    <!--<add name="SingleApiConnectionStrings"  connectionString="Data Source=10.8.8.50;Initial Catalog=FoodkingdomCN;Persist Security Info=True;User ID=dev_master;Password=dev_master;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />-->
    <!--<add name="SingleApiConnectionStrings" connectionString="Data Source=172.16.8.139;Initial Catalog=hdl;Persist Security Info=True;User ID=etaoshi_master;Password=Tr1iV8Q7sY005;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />-->
    <add name="AuthenApiConnectionStrings" connectionString="Data Source=10.8.8.18;Initial Catalog=OpenApi;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True;Application Name=SingleApi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--是否开启验证-->
    <add key="ApplicationValidationEnabled" value="false" />
    <!--是否开启记录请求参数的详细日志-->
    <add key="WriteLogParamsEnabled" value="true" />
    <!--是否开启记录返回值的详细日志-->
    <add key="WriteLogReturnEnabled" value="false" />
    <!--是否取餐厅送餐费，海底捞设置为false，其他设置为true-->
    <add key="CalculateDeliveryChargeEnable" value="true" />
    <!--是否以当前时间为优惠时间-->
    <add key="CouponCurrentTimeWayEnable" value="true" />
    <!--是否启用餐厅备餐时间-->
    <add key="SupplierReadyTimeEnable" value="true" />
    <!--活动设置的备餐时间参数（单位：分钟）-->
    <add key="ActiveDeliveryMethodReadyTime" value="90" />
    <add key="ActivePickUpMethodReadyTime" value="90" />
    <!--默认的权限码-->
    <add key="DefaultAppKey" value="93ae88ed226f4381bbf0812b08fc538e" />
    <add key="DefaultAppPassword" value="owf1herzxp7xvymj" />
    <!--缓存-->
    <add key="Memcached.ServerList" value="10.8.8.18:11211" />
    <!--<add key="Memcached.ServerList" value="172.16.5.11:11811" />-->
    <!--图片服务器地址-->
    <add key="ImageSiteUrl" value="http://old.etaoshi.com" />
    <!--图片存储路径-->
    <add key="ImagePath" value="D:\upload\img" />
    <!--邮件账号配置-->
    <add key="EmailAddress" value="info@etaoshi.com" />
    <add key="EmailPassword" value="info1taoshi" />
    <add key="EmailServer" value="smtp.qq.com" />
    <add key="AuthCodeExpiredTime" value="5" />
    <add key="PasswordMinLength" value="8" />
    <!--wap网站提示信息-->
    <add key="EmailSubject" value="找回密码通知，请尽快查看！【易淘食】" />
    <add key="EmailFindPasswordMessage" value="尊敬的用户您好，您在易淘食网站上的登录密码已经重新设置为{0} ，您可以直接登录易淘食网站修改登录密码【易淘食】" />
    <add key="SmsFindPasswordMessage" value="{0}（易淘食找回密码验证，请完成验证），如非本人操作，请忽略本短信。【易淘食】" />
    <add key="FirstRegisterMessage" value="恭喜您成为易淘食用户，账号为当前手机号，登录密码为{0}，您可以直接登录易淘食网站修改登录密码【易淘食】" />
    <add key="AuthCodeMessage" value="{0}（易淘食手机动态码，请完成登录），如非本人操作，请忽略本短信。【易淘食】" />
    <!--百度轻应用提示信息-->
    <!--<add key="EmailSubject" value="找回密码通知，请尽快查看！【百度轻应用】" />
    <add key="EmailFindPasswordMessage" value="尊敬的用户您好，您在百度轻应用的登录密码已经重新设置为{0} ，您可以直接登录个人中心修改登陆密码【百度轻应用】" />
    <add key="SmsFindPasswordMessage" value="{0} （百度轻应用找回密码验证，请完成验证），如非本人操作，请忽略本短信。【百度轻应用】" />
    <add key="FirstRegisterMessage" value="恭喜您登录成功，账号为当前手机号，登录密码为{0}，您可以直接进入个人中心修改登录密码【百度轻应用】" />
    <add key="AuthCodeMessage" value="{0} （百度轻应用手机动态码，请完成验证），如非本人操作，请忽略本短信。【百度轻应用】" />-->
    <add key="ModifyPasswordMessage" value="{0}" />
    <!--货到付款类型-->
    <add key="CompleteRealSupplierType" value="1,3" />
    <!--测试集团Id-->
    <add key="TestSupplierGroupId" value="1" />
    <!--外卖自提Id-->
    <add key="PickUpDeliveryMethodId" value="1" />
    <!--性别默认设置-->
    <add key="DefaultGender" value="0" />
    <add key="FemaleGender" value="Female" />
    <!--短信验证码类型-->
    <add key="EtkAuthCodeType" value="AC001" />
    <add key="WaiMaiAuthCodeType" value="AC002" />
    <add key="BaiduMapAk" value="11ff4b9b83f3b360645b03182518dd35" />
    <!--外卖送餐时间（单位：分钟）-->
    <add key="DefaultPickUpTime" value="60" />
    <add key="DefaultDeliveryTime" value="45" />
    <!--外卖送餐方式-->
    <add key="QuickDeliveryType" value="1" />
    <add key="AssignDeliveryType" value="2" />
    <!--联动优势-->
    <add key="UmPayMerId" value="7378" />
    <add key="UmPayVersion" value="4.0" />
    <add key="UmPaySignType" value="RSA" />
    <!--百付宝支付账号-->
    <add key="BaiFuBaoMerchantAcctId" value="9000100008" />
    <!--百付宝支付后台通知地址-->
    <!--<add key="BaiFuBaoBackgroundNoticeUrl" value="http://106.37.191.106:8010/Pay/BaiFuBaoBackgroundNotice.aspx" />-->
    <add key="BaiFuBaoBackgroundNoticeUrl" value="http://localhost:1565/Pay/BaiFuBaoBackgroundNotice.aspx" />
    <!--支付宝支付账号-->
    <add key="AlipayPartnerId" value="2088701474861893" />
    <!--支付宝支付后台通知地址-->
    <add key="AlipayBackgroundNoticeUrl" value="http://106.37.191.106:9987/Pay/AlipayBackgroundNotice.aspx" />
    <!--餐厅功能Id-->
    <add key="WaiMaiFeatureId" value="1" />
    <add key="DingTaiFeatureId" value="2" />
    <add key="PayOnLineFeatureId" value="4" />
    <add key="TangShiFeatureId" value="9" />
    <add key="InvoiceFeatureId" value="27" />
    <add key="PackageFeatureId" value="34" />
    <add key="PaiDuiFeatureId" value="59" />
    <!--空发票显示信息-->
    <add key="EmptyInvoiceTitle" value="无" />
    <!--购物车缓存时间（天）-->
    <add key="ShoppingCartCacheTime" value="10" />
    <!--购物车对应的餐厅和用户信息缓存时间（天）-->
    <add key="ShoppingCartLongCacheTime" value="1" />
    <!--默认的送餐方式-->
    <add key="DefaultDeliveryMethodId" value="2" />
    <!--默认的送餐类型-->
    <add key="DefaultDeliveryType" value="1" />
    <!--下单后最快的送餐时间（分钟）-->
    <add key="MinDeliveryHours" value="0" />
    <add key="MinPickUpHours" value="0" />
    <!--餐厅服务时间参数（单位：分钟）-->
    <add key="ServiceTimeBeginReadyTime" value="0" />
    <add key="ServiceTimeEndReadyTime" value="0" />
    <add key="ServiceTimeInterval" value="15" />
    <add key="ServiceTimeDefaultDays" value="3" />
    <!--餐厅送餐时间参数（单位：分钟）-->
    <add key="DeliveryTimeBeginReadyTime" value="0" />
    <add key="DeliveryTimeEndReadyTime" value="0" />
    <add key="DeliveryTimeInterval" value="15" />
    <add key="DeliveryTimeDefaultDays" value="3" />
    <!--备餐时间参数（单位：分钟）-->
    <add key="DeliveryMethodReadyTime" value="45" />
    <add key="PickUpMethodReadyTime" value="20" />
    <add key="HuangTaiJiServiceTimeReadyTime" value="30"/>
    <!--未知来源-->
    <add key="UnkownSource" value="other" />
    <!--优惠类型-->
    <add key="CouponTypeFirstId" value="1" />
    <add key="CouponTypeSecondId" value="2" />
    <!--计算打折的方式，1 先减后打折 2 先打折后减  3 叠加最优惠的  4 不叠加最优惠的  5 满减优先  6 折扣优先-->
    <add key="CalculateCouponWay" value="4" />
    <!--是否开启送餐时间验证-->
    <add key="ValidateDeliveryTimeEnabled" value="true" />
    <!--送餐时间为空时默认送餐时间-->
    <add key="EmptyDeliveryTime" value="00:00-23:59" />
    <!--开通下面功能即为合作商户-->
    <!--外卖合作商户必须开通的功能（1 外卖订餐、5 送餐(含自送and易淘食)、21 显示订餐热线、22 加盟餐厅、32 订餐送积分、49 餐到付款-->
    <!--
    <add key="CooperationWaimaiFeatures" value="1,5,21,22,32,49" />
    -->
    <!--订台合作商户必须开通的功能（2 网络订台、9 堂食、21 显示订餐热线、22 加盟餐厅、25 商家支持刷卡、33 订台送积分-->
    <!--
    <add key="CooperationTangshiFeatures" value="2,9,21,22,25,33" />-->
    <!--外卖合作商户必须开通的功能（1 外卖订餐、4 网银支付、5 送餐(含自送and易淘食)、22 加盟餐厅-->
    <add key="CooperationWaimaiFeatures" value="1,4,5,22" />
    <!--订台合作商户必须开通的功能（2 网络订台、4 网银支付、9 堂食、22 加盟餐厅、25 商家支持刷卡-->
    <add key="CooperationTangshiFeatures" value="2,9,22,25" />
    <!--餐厅必须开通的业务-->
    <add key="SupplierFeatures" value="1,2,9" />
    <!--合作商户订餐热线-->
    <add key="CooperationHotline" value="4000-999-177" />
    <!--海底捞不能出现在菜单的类目-->
    <add key="HaiDiLaoNoContainMenuList" value="赠品菜" />
    <!--海底捞排在菜单面前的类目-->
    <add key="HaiDiLaoFrontMenuList" value="锅底,小料" />
    <!--海底捞排在菜单最后的类目-->
    <add key="HaiDiLaoEndMenuList" value="套餐,专人服务" />
    <!--海底捞在菜单的套餐类目显示的名称-->
    <add key="HaiDiLaoPackageMenu" value="套餐" />
    <!--赠品菜菜单的类目-->
    <add key="PresentMenu" value="赠品菜" />
    <!--菜单类型列表（0 菜 1 小料 2 锅底 3 套餐 4 专人服务）-->
    <add key="MenuTypeList" value="锅底:2,小料:1,专人服务:4,套餐:3" />
    <!--单个锅的押金-->
    <add key="PotDeposit" value="0" />
    <!--单个电磁炉的押金-->
    <add key="CookingDeposit" value="500" />
    <!--海底捞开通城市列表-->
    <!--<add key="OpenCityList" value="北京市,上海市,西安市,南京市,杭州市,深圳市,广州市,合肥市,石家庄市,苏州市,天津市,无锡市,武汉市" />-->
    <!--wap开通城市列表-->
    <add key="OpenCityList" value="北京市,天津市,石家庄市,上海市,南京市,洛阳市,南宁市,成都市,深圳市,榆林市,柳州市,厦门市,广州市" />
    <!--直辖市标记-->
    <add key="MunicipalitySign" value="城区" />
    <!--星期天对应的数字-->
    <add key="Sunday" value="7" />
    <!--不参加优惠的餐厅群组Id-->
    <add key="NoCouponSupplierGroupList" value="3" />
    <!--被屏蔽的餐厅群组Id-->
    <add key="ShieldingSupplierGroupList" value="2,6,16" />
    <!--默认电磁炉数量-->
    <add key="DefaultCookingCount" value="1" />
    <!--默认就餐人数-->
    <add key="DefaultDiningCount" value="1" />
    <!--默认锅数量-->
    <add key="DefaultPanCount" value="1" />
    <!--Castle load config file when application start.-->
    <add key="IWindsorContainer" value="config/castle.xml" />
    <add key="log4net" value="config/log4net/log.config"/>
    <add key="status" value="config/status.xml" />
    <!--默认地址-->
    <add key="DefaultLogoFile" value="light/default/logo.png" />
    <add key="DefaultFocusFile" value="light/default/focus.png" />
    <add key="DefaultAdvertisementFile" value="light/default/advertisement.png" />
    <!--要保留的集团Id-->
    <add key="RetentionSupplierGroupIdList" value="1,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20" />
    <!--要过滤掉的餐厅Id-->
    <add key="FilteredSupplierIdList" value="" />
    <!--外卖订单可编辑的状态列表-->
    <add key="WaiMaiOrderEditStatusIdList" value="1,10" />
    <!--订台订单可编辑的状态列表-->
    <add key="DingTaiOrderEditStatusIdList" value="1" />
    <!--堂食订单可编辑的状态列表-->
    <add key="TangShiOrderEditStatusIdList" value="1" />
    <!--排队订单可编辑的状态列表-->
    <add key="TangPaiDuiEditStatusIdList" value="1" />
    <!--是否从服务器获取订单号-->
    <add key="FromServerEnable" value="false" />
    <add key="SingleApiServer" value="http://singleapi.etaoshi.com/api" />
    <!--购物车列表-->
    <add key="ShoppingCartList" value="ZhongCan,HaiDiLao" />
    <!--默认支付方式-->
    <add key="DefaultPaymentMethodId" value="-1" />
    <!--默认订台方式（2:订位子不点菜、3:订位子并点菜）-->
    <add key="DefaultDingTaiMethodId" value="2" />
    <!--订台默认人数-->
    <add key="DefaultDingTaiNumber" value="4" />
    <!--订台日期跨度（天）-->
    <add key="DingTaiDaySpan" value="5" />
    <!--订台延迟时间(单位：分)(就餐时间 = 预订时间 + 延迟时间)-->
    <add key="DingTaiDelay" value="0" />
    <!--排队号前缀-->
    <add key="QueueNumberPrefix" value="A" />
    <!--排队号数字位数-->
    <add key="QueueNumberLength" value="5" />
    <!--订台可以预订的订单状态（1:订单生成中、2:接受、4、物流已派单、7、物流已接收、8、物流前往取餐、9、物流前往送餐、10、待处理、11:客人到店）-->
    <add key="DingTaiUnLockedOrderStatusIdList" value="1,2,4,7,8,9,10,11"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://service.etaoshi.com/Sms.asmx" binding="basicHttpBinding"
          bindingConfiguration="SmsSoap" contract="SmsSoap.SmsSoap"
          name="SmsSoap" />
    </client>
  </system.serviceModel>
</configuration>