<?xml version="1.0"?>
<configuration>
  <components>
    <!--ServicesInterceptor-->
    <component id="Ets.SingleApi.Hosting.ServicesInterceptor"
      type="Ets.SingleApi.Hosting.ServicesInterceptor, Ets.SingleApi.Hosting">
    </component>
    <!--TestService-->
    <component id="Ets.SingleApi.Hosting.Services.TestService"
      service="Ets.SingleApi.Hosting.Contracts.ITestService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.TestService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--AuthenService-->
    <component id="Ets.SingleApi.Hosting.Services.AuthenService"
      service="Ets.SingleApi.Hosting.Contracts.IAuthenService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.AuthenService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--BusinessAreaService-->
    <component id="Ets.SingleApi.Hosting.Services.BusinessAreaService"
      service="Ets.SingleApi.Hosting.Contracts.IBusinessAreaService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.BusinessAreaService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--CouponService-->
    <component id="Ets.SingleApi.Hosting.Services.CouponService"
      service="Ets.SingleApi.Hosting.Contracts.ICouponService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.CouponService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--CuisineService-->
    <component id="Ets.SingleApi.Hosting.Services.CuisineService"
      service="Ets.SingleApi.Hosting.Contracts.ICuisineService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.CuisineService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--FunctionService-->
    <component id="Ets.SingleApi.Hosting.Services.FunctionService"
      service="Ets.SingleApi.Hosting.Contracts.IFunctionService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.FunctionService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--OrdersService-->
    <component id="Ets.SingleApi.Hosting.Services.OrdersService"
      service="Ets.SingleApi.Hosting.Contracts.IOrdersService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.OrdersService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--PaymentService-->
    <component id="Ets.SingleApi.Hosting.Services.PaymentService"
      service="Ets.SingleApi.Hosting.Contracts.IPaymentService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.PaymentService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--ShoppingCartService-->
    <component id="Ets.SingleApi.Hosting.Services.ShoppingCartService"
      service="Ets.SingleApi.Hosting.Contracts.IShoppingCartService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.ShoppingCartService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--DirectPayService-->
    <component id="Ets.SingleApi.Hosting.Services.DirectPayService"
      service="Ets.SingleApi.Hosting.Contracts.IDirectPayService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.DirectPayService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--SmsService-->
    <component id="Ets.SingleApi.Hosting.Services.SmsService"
      service="Ets.SingleApi.Hosting.Contracts.ISmsService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.SmsService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--SupplierService-->
    <component id="Ets.SingleApi.Hosting.Services.SupplierService"
      service="Ets.SingleApi.Hosting.Contracts.ISupplierService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.SupplierService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--UserService-->
    <component id="Ets.SingleApi.Hosting.Services.UserService"
      service="Ets.SingleApi.Hosting.Contracts.IUserService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.UserService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--EtsWapDingTaiShoppingCartService-->
    <component id="Ets.SingleApi.Hosting.Services.EtsWapDingTaiShoppingCartService"
      service="Ets.SingleApi.Hosting.Contracts.IEtsWapDingTaiShoppingCartService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.EtsWapDingTaiShoppingCartService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--EtsWapShoppingCartService-->
    <component id="Ets.SingleApi.Hosting.Services.EtsWapShoppingCartService"
      service="Ets.SingleApi.Hosting.Contracts.IEtsWapShoppingCartService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.EtsWapShoppingCartService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--EtsWapTangShiShoppingCartService-->
    <component id="Ets.SingleApi.Hosting.Services.EtsWapTangShiShoppingCartService"
      service="Ets.SingleApi.Hosting.Contracts.IEtsWapTangShiShoppingCartService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.EtsWapTangShiShoppingCartService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
    <!--QueueService-->
    <component id="Ets.SingleApi.Hosting.Services.QueueService"
      service="Ets.SingleApi.Hosting.Contracts.IQueueService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.QueueService, Ets.SingleApi.Hosting">
      <interceptors>
        <interceptor>${Ets.SingleApi.Hosting.ServicesInterceptor}</interceptor>
      </interceptors>
    </component>
  </components>
</configuration>