<?xml version="1.0"?>
<configuration>
  <components>
    <!--AuthenService-->
    <component id="Ets.SingleApi.Hosting.Services.AuthenService"
      service="Ets.SingleApi.Hosting.Contracts.IAuthenService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.AuthenService, Ets.SingleApi.Hosting">
    </component>
    <!--BusinessAreaService-->
    <component id="Ets.SingleApi.Hosting.Services.BusinessAreaService"
      service="Ets.SingleApi.Hosting.Contracts.IBusinessAreaService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.BusinessAreaService, Ets.SingleApi.Hosting">
    </component>
    <!--CouponService-->
    <component id="Ets.SingleApi.Hosting.Services.CouponService"
      service="Ets.SingleApi.Hosting.Contracts.ICouponService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.CouponService, Ets.SingleApi.Hosting">
    </component>
    <!--CuisineService-->
    <component id="Ets.SingleApi.Hosting.Services.CuisineService"
      service="Ets.SingleApi.Hosting.Contracts.ICuisineService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.CuisineService, Ets.SingleApi.Hosting">
    </component>
  </components>
</configuration>