<?xml version="1.0"?>
<configuration>
  <components>
    <!--AuthenService-->
    <component id="Ets.SingleApi.Hosting.Services.AuthenService"
      service="Ets.SingleApi.Hosting.Contracts.IAuthenService, Ets.SingleApi.Hosting"
      type="Ets.SingleApi.Hosting.Services.AuthenService, Ets.SingleApi.Hosting">
    </component>
  </components>
</configuration>