<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ETSHServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://218.242.136.178:19080/ivrServer/ETSHService"
                binding="basicHttpBinding" bindingConfiguration="ETSHServiceHttpBinding"
                contract="IEtkYaoGao.ETSHServicePortType" name="ETSHServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>