<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestController" value="http://localhost:1565/api/Test" />
    <add key="AppKey" value="716b590aa219495db5fb2c94d0aefaa7" />
    <add key="AppPassword" value="12345" />
      <!--Castle load config file when application start.-->
    <add key="IWindsorContainer" value="config/castle.xml" />
    <add key="log4net" value="config/log4net/log.config"/>
    <add key="status" value="config/status.xml" />
  </appSettings>
</configuration>