<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enumTypes" type="WebExpress.Core.EnumSettingSection, WebExpress.Core" />
  </configSections>
  <enumTypes>
    <enum name="AuctionTypes" type="Art.Data.Common.AuctionType, Art.Data.Common" >
    </enum>
          
    <enum name="OrderStatus" type="Art.Data.Common.OrderStatus, Art.Data.Common" />
  </enumTypes>
</configuration>
