<?xml version="1.0"?>
<configuration>
  <components>
    <include uri="file://components/repository.config"/>
    <include uri="file://components/interceptor.config"/>
    <include uri="file://components/externalservices.config"/>
    <include uri="file://components/services.config"/>
    <include uri="file://components/controllers.config"/>
    <include uri="file://components/wapcontrollers.config"/>
  </components>
</configuration>