<?xml version="1.0"?>
<configuration>
  <facilities>
    <!--Container Facility-->
    <facility id="wcf" type="Castle.Facilities.WcfIntegration.WcfFacility,Castle.Facilities.WcfIntegration" />
    <!--Transaction Facility-->
    <facility id="atm" type="Castle.Facilities.AutoTx.TransactionFacility, Castle.Facilities.AutoTx" />
    <!--NHibernate Facility-->
    <facility id="nhibernatefacility" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" isWeb="true">
      <factory id="SingleApiFactory" alias="SingleApiFactory">
        <settings>
          <item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
          <item key="connection.driver_class">NHibernate.Driver.SqlClientDriver</item>
          <item key="connection.connection_string_name">SingleApiConnectionStrings</item>
          <item key="dialect">NHibernate.Dialect.MsSql2008Dialect</item>
          <item key="show_sql">true</item>
          <item key="command_timeout">120</item>
          <item key="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</item>
          <item key="current_session_context_class">web</item>
          <!--<item key="cache.provider_class">WebApiCastleNHibernateDemo.Caches.MongoDbCacheProvider, WebApiCastleNHibernateDemo.DatabaseDao</item>
          <item key="cache.region_prefix" value="mongo.cache"/>
          <item key="cache.use_second_level_cache">true</item>
          <item key="cache.use_query_cache">true</item>
          <item key="cache.use_minimal_puts">false</item>
          <item key="mongodb.connection_string_name">MongoConnectionStrings</item>
          <item key="mongodb.pattern">^AOTT\.GateWay\.Model\.Repository\..+?</item>
          <item key="mongodb.region_prefix">AOTT</item>-->
        </settings>
        <assemblies>
          <assembly>Ets.SingleApi.Model</assembly>
        </assemblies>
      </factory>
      <factory id="AuthenApiFactory" alias="AuthenApiFactory">
        <settings>
          <item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
          <item key="connection.driver_class">NHibernate.Driver.SqlClientDriver</item>
          <item key="connection.connection_string_name">AuthenApiConnectionStrings</item>
          <item key="dialect">NHibernate.Dialect.MsSql2008Dialect</item>
          <item key="show_sql">true</item>
          <item key="command_timeout">120</item>
          <item key="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</item>
          <item key="current_session_context_class">web</item>
          <!--<item key="cache.provider_class">WebApiCastleNHibernateDemo.Caches.MongoDbCacheProvider, WebApiCastleNHibernateDemo.DatabaseDao</item>
          <item key="cache.region_prefix" value="mongo.cache"/>
          <item key="cache.use_second_level_cache">true</item>
          <item key="cache.use_query_cache">true</item>
          <item key="cache.use_minimal_puts">false</item>
          <item key="mongodb.connection_string_name">MongoConnectionStrings</item>
          <item key="mongodb.pattern">^AOTT\.GateWay\.Model\.Repository\..+?</item>
          <item key="mongodb.region_prefix">AOTT</item>-->
        </settings>
        <assemblies>
          <assembly>Ets.SingleApi.Model</assembly>
        </assemblies>
      </factory>
    </facility>
  </facilities>
</configuration>