<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Castle load config file when application start.-->
    <add key="IWindsorContainer" value="config/castle.xml" />
    <add key="status" value="config/status.xml" />
    <add key="SingleApiServer" value="http://localhost:1565" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="SingleApiBehavior">
          <webHttp helpEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="RestServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Ets.SingleApi.Hosting.Services.TestService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.ITestService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.AuthenService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IAuthenService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.BusinessAreaService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IBusinessAreaService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.CouponService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.ICouponService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.CuisineService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.ICuisineService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.FunctionService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IFunctionService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.OrdersService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IOrdersService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.PaymentService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IPaymentService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.ShoppingCartService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IShoppingCartService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.DirectPayService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IDirectPayService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.SmsService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.ISmsService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.UserService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IUserService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.SupplierService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.ISupplierService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.EtsWapDingTaiShoppingCartService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IEtsWapDingTaiShoppingCartService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.EtsWapShoppingCartService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IEtsWapShoppingCartService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.EtsWapTangShiShoppingCartService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IEtsWapTangShiShoppingCartService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Ets.SingleApi.Hosting.Services.QueueService" behaviorConfiguration="RestServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Ets.SingleApi.Hosting.Contracts.IQueueService" behaviorConfiguration="SingleApiBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
