<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Caches.ShoppingCartCacheServices"
         service="Ets.SingleApi.Services.ICacheServices.IShoppingCartCacheServices, Ets.SingleApi.Services"
         type="Ets.SingleApi.Caches.ShoppingCartCacheServices, Ets.SingleApi.Caches">
  </component>
</configuration>