<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Caches.ShoppingCartCacheServices"
         service="Ets.SingleApi.Services.ICacheServices.IShoppingCartCacheServices, Ets.SingleApi.Services"
         type="Ets.SingleApi.Caches.ShoppingCartCacheServices, Ets.SingleApi.Caches">
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.CacheInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Caches.HaiDiLaoShoppingCartCacheServices"
       service="Ets.SingleApi.Services.ICacheServices.IHaiDiLaoShoppingCartCacheServices, Ets.SingleApi.Services"
       type="Ets.SingleApi.Caches.HaiDiLaoShoppingCartCacheServices, Ets.SingleApi.Caches">
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.CacheInterceptor}</interceptor>
    </interceptors>
  </component>
</configuration>