<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Controllers.TestController"
    type="Ets.SingleApi.Controllers.TestController, Ets.SingleApi.Controllers" lifeStyle="Transient">
  </component>
  <component id="Ets.SingleApi.Controllers.SmsController"
    type="Ets.SingleApi.Controllers.SmsController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <smsServices>${Ets.SingleApi.Services.SmsServices}</smsServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.AuthenController"
        type="Ets.SingleApi.Controllers.AuthenController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <authenServices>${Ets.SingleApi.Services.AuthenServices}</authenServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.UserController"
      type="Ets.SingleApi.Controllers.UserController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <usersServices>${Ets.SingleApi.Services.UsersServices}</usersServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.BusinessAreaController"
        type="Ets.SingleApi.Controllers.BusinessAreaController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <businessAreaServices>${Ets.SingleApi.Services.BusinessAreaServices}</businessAreaServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.CuisineController"
        type="Ets.SingleApi.Controllers.CuisineController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <cuisineServices>${Ets.SingleApi.Services.CuisineServices}</cuisineServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.PaymentController"
      type="Ets.SingleApi.Controllers.PaymentController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <cuisineServices>${Ets.SingleApi.Services.PaymentServices}</cuisineServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.OrdersController"
    type="Ets.SingleApi.Controllers.OrdersController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <orderServices>${Ets.SingleApi.Services.OrderServices}</orderServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.SupplierController"
    type="Ets.SingleApi.Controllers.SupplierController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <supplierServices>${Ets.SingleApi.Services.SupplierServices}</supplierServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.FunctionController"
    type="Ets.SingleApi.Controllers.FunctionController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <functionServices>${Ets.SingleApi.Services.FunctionServices}</functionServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.ShoppingCartController"
   type="Ets.SingleApi.Controllers.ShoppingCartController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <shoppingCartServices>${Ets.SingleApi.Services.ShoppingCartServices}</shoppingCartServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.HaiDiLaoShoppingCartController"
  type="Ets.SingleApi.Controllers.HaiDiLaoShoppingCartController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <haiDiLaoshoppingCartServices>${Ets.SingleApi.Services.HaiDiLaoShoppingCartServices}</haiDiLaoshoppingCartServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.HaiDiLaoSupplierController"
    type="Ets.SingleApi.Controllers.HaiDiLaoSupplierController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <haiDiLaoSupplierServices>${Ets.SingleApi.Services.HaiDiLaoSupplierServices}</haiDiLaoSupplierServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.CouponController"
  type="Ets.SingleApi.Controllers.CouponController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <couponServices>${Ets.SingleApi.Services.CouponServices}</couponServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.BaiDuLightController"
    type="Ets.SingleApi.Controllers.BaiDuLightController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <baiDuLightServices>${Ets.SingleApi.Services.BaiDuLightServices}</baiDuLightServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.HuangTaiJiSupplierController"
   type="Ets.SingleApi.Controllers.HuangTaiJiSupplierController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <huangTaiJiSupplierServices>${Ets.SingleApi.Services.HuangTaiJiSupplierServices}</huangTaiJiSupplierServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.HuangTaiJiShoppingCartController"
  type="Ets.SingleApi.Controllers.HuangTaiJiShoppingCartController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <huangTaiJiShoppingCartServices>${Ets.SingleApi.Services.HuangTaiJiShoppingCartServices}</huangTaiJiShoppingCartServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
</configuration>