<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Controllers.TestController"
    type="Ets.SingleApi.Controllers.TestController, Ets.SingleApi.Controllers" lifeStyle="Transient">
  </component>
  <component id="Ets.SingleApi.Controllers.SmsController"
    type="Ets.SingleApi.Controllers.SmsController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <smsServices>${Ets.SingleApi.Services.SmsServices}</smsServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.AuthenController"
        type="Ets.SingleApi.Controllers.AuthenController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <authenServices>${Ets.SingleApi.Services.AuthenServices}</authenServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.UserController"
      type="Ets.SingleApi.Controllers.UserController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <usersServices>${Ets.SingleApi.Services.UsersServices}</usersServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.BusinessAreaController"
        type="Ets.SingleApi.Controllers.BusinessAreaController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <businessAreaServices>${Ets.SingleApi.Services.BusinessAreaServices}</businessAreaServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.CuisineController"
        type="Ets.SingleApi.Controllers.CuisineController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <cuisineServices>${Ets.SingleApi.Services.CuisineServices}</cuisineServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.PaymentController"
      type="Ets.SingleApi.Controllers.PaymentController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <paymentServices>${Ets.SingleApi.Services.PaymentServices}</paymentServices>
      <orderServices>${Ets.SingleApi.Services.OrderServices}</orderServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.OrdersController"
    type="Ets.SingleApi.Controllers.OrdersController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <orderServices>${Ets.SingleApi.Services.OrderServices}</orderServices>
      <paymentServices>${Ets.SingleApi.Services.PaymentServices}</paymentServices>
  </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.SupplierController"
    type="Ets.SingleApi.Controllers.SupplierController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <supplierServices>${Ets.SingleApi.Services.SupplierServices}</supplierServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.FunctionController"
    type="Ets.SingleApi.Controllers.FunctionController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <functionServices>${Ets.SingleApi.Services.FunctionServices}</functionServices>
      <businessAreaServices>${Ets.SingleApi.Services.BusinessAreaServices}</businessAreaServices>
      <supplierServices>${Ets.SingleApi.Services.SupplierServices}</supplierServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.EtsWapTangShiShoppingCartController"
 type="Ets.SingleApi.Controllers.EtsWapTangShiShoppingCartController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <etsWapTangShiShoppingCartServices>${Ets.SingleApi.Services.EtsWapTangShiShoppingCartServices}</etsWapTangShiShoppingCartServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.EtsWapDingTaiShoppingCartController"
 type="Ets.SingleApi.Controllers.EtsWapDingTaiShoppingCartController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <etsWapDingTaiShoppingCartServices>${Ets.SingleApi.Services.EtsWapDingTaiShoppingCartServices}</etsWapDingTaiShoppingCartServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.EtsWapShoppingCartController"
 type="Ets.SingleApi.Controllers.EtsWapShoppingCartController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <etsWapShoppingCartServices>${Ets.SingleApi.Services.EtsWapShoppingCartServices}</etsWapShoppingCartServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.ShoppingCartController"
 type="Ets.SingleApi.Controllers.ShoppingCartController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <shoppingCartServices>${Ets.SingleApi.Services.ShoppingCartServices}</shoppingCartServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.CouponController"
  type="Ets.SingleApi.Controllers.CouponController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <couponServices>${Ets.SingleApi.Services.CouponServices}</couponServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.QueueController"
type="Ets.SingleApi.Controllers.QueueController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <queueServices>${Ets.SingleApi.Services.QueueServices}</queueServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Controllers.DirectPayController"
type="Ets.SingleApi.Controllers.DirectPayController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <queueServices>${Ets.SingleApi.Services.DirectPayServices}</queueServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  
</configuration>