<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.ExternalServices.SmsExternalServices"
         service="Ets.SingleApi.Services.IExternalServices.ISmsExternalServices, Ets.SingleApi.Services"
         type="Ets.SingleApi.ExternalServices.SmsExternalServices, Ets.SingleApi.ExternalServices">
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ExternalServicesInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.ExternalServices.SingleApiOrdersExternalService"
       service="Ets.SingleApi.Services.IExternalServices.ISingleApiOrdersExternalService, Ets.SingleApi.Services"
       type="Ets.SingleApi.ExternalServices.SingleApiOrdersExternalService, Ets.SingleApi.ExternalServices">
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ExternalServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.ExternalServices.SynchronousOrderExternalServices"
       service="Ets.SingleApi.Services.IExternalServices.ISynchronousOrderExternalServices, Ets.SingleApi.Services"
       type="Ets.SingleApi.ExternalServices.SynchronousOrderExternalServices, Ets.SingleApi.ExternalServices">
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ExternalServicesInterceptor}</interceptor>
    </interceptors>
  </component>
  
</configuration>