<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.ExternalServices.SmsExternalServices"
         service="Ets.SingleApi.Services.IExternalServices.ISmsExternalServices, Ets.SingleApi.Services"
         type="Ets.SingleApi.ExternalServices.SmsExternalServices, Ets.SingleApi.ExternalServices">
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptor.SmsExternalServicesInterceptor}</interceptor>
    </interceptors>
  </component>
</configuration>