<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Interceptor.WapControllerInterceptor"
     type="Ets.SingleApi.Interceptor.WapControllerInterceptor, Ets.SingleApi">
  </component>
  <component id="Ets.SingleApi.Interceptor.ControllerInterceptor"
       type="Ets.SingleApi.Interceptor.ControllerInterceptor, Ets.SingleApi">
  </component>
  <component id="Ets.SingleApi.Interceptor.TokenValidateInterceptor"
     type="Ets.SingleApi.Interceptor.TokenValidateInterceptor, Ets.SingleApi">
  </component>
  <component id="Ets.SingleApi.Interceptor.ServicesInterceptor"
     type="Ets.SingleApi.Interceptor.ServicesInterceptor, Ets.SingleApi">
  </component>
  <component id="Ets.SingleApi.Interceptor.DetailServicesInterceptor"
     type="Ets.SingleApi.Interceptor.DetailServicesInterceptor, Ets.SingleApi">
  </component>
  <component id="Ets.SingleApi.Interceptor.SmsExternalServicesInterceptor"
     type="Ets.SingleApi.Interceptor.SmsExternalServicesInterceptor, Ets.SingleApi">
  </component>
</configuration>