<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Interceptors.WapControllerInterceptor"
     type="Ets.SingleApi.Interceptors.WapControllerInterceptor, Ets.SingleApi.Interceptors">
  </component>
  <component id="Ets.SingleApi.Interceptors.ControllerInterceptor"
       type="Ets.SingleApi.Interceptors.ControllerInterceptor, Ets.SingleApi.Interceptors">
  </component>
  <component id="Ets.SingleApi.Interceptors.ServicesInterceptor"
     type="Ets.SingleApi.Interceptors.ServicesInterceptor, Ets.SingleApi.Interceptors">
  </component>
  <component id="Ets.SingleApi.Interceptors.DetailServicesInterceptor"
     type="Ets.SingleApi.Interceptors.DetailServicesInterceptor, Ets.SingleApi.Interceptors">
  </component>
  <component id="Ets.SingleApi.Interceptors.ExternalServicesInterceptor"
     type="Ets.SingleApi.Interceptors.ExternalServicesInterceptor, Ets.SingleApi.Interceptors">
  </component>
  <component id="Ets.SingleApi.Interceptors.CacheInterceptor"
   type="Ets.SingleApi.Interceptors.CacheInterceptor, Ets.SingleApi.Interceptors">
  </component>
</configuration>