<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Repository.AppEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.AppEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.AuthenApiRepository`1[[Ets.SingleApi.Model.Repository.AppEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.TokenEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.TokenEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.AuthenApiRepository`1[[Ets.SingleApi.Model.Repository.TokenEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.RegionEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.RegionEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.RegionEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.AddrBusinessAreaEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.AddrBusinessAreaEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.AddrBusinessAreaEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.CuisineEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.CuisineEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.CuisineEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierCuisineEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierCuisineEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierCuisineEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierImageEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierImageEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierImageEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDishEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDishImageEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishImageEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishImageEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierCategoryEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierCategoryEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierCategoryEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierMenuCategoryEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierMenuCategoryEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierMenuCategoryEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.CustomerEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.CustomerEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.CustomerEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.LoginEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.LoginEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.LoginEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SourceTypeEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SourceTypeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SourceTypeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SourcePathEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SourcePathEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SourcePathEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.PaymentEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.PaymentEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.PaymentEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierCommissionEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierCommissionEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierCommissionEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.CustomerFavoriteEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.CustomerFavoriteEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.CustomerFavoriteEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.CustomerAddressEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.CustomerAddressEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.CustomerAddressEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SuppTimeTableDisplayEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SuppTimeTableDisplayEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SuppTimeTableDisplayEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.TimeTableDisplayEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.TimeTableDisplayEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.TimeTableDisplayEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.DeliveryEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.DeliveryEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.DeliveryEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.TableReservationEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.TableReservationEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.TableReservationEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierFeatureEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierFeatureEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierFeatureEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.OrderEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.OrderEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.OrderEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.DeliveryAddressEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.DeliveryAddressEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.DeliveryAddressEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.OrderNumberDcEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.OrderNumberDcEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.OrderNumberDcEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.OrderNumberDtEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.OrderNumberDtEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.OrderNumberDtEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.CategoryTypeEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.CategoryTypeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.CategoryTypeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.CategoryEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.CategoryEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.CategoryEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.FeatureEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.FeatureEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.FeatureEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDiningPurposeEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDiningPurposeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDiningPurposeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.DiningPurposeEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.DiningPurposeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.DiningPurposeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierBusinessAreaEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierBusinessAreaEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierBusinessAreaEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierCouponEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierCouponEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierCouponEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierCouponTimeEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierCouponTimeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierCouponTimeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierCouponCustomerEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierCouponCustomerEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierCouponCustomerEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.WxToEtsEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.WxToEtsEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.WxToEtsEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.TimeTableEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.TimeTableEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.TimeTableEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierTimeTableEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierTimeTableEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierTimeTableEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.PackageNameEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.PackageNameEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.PackageNameEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.PackageClassificationEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.PackageClassificationEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.PackageClassificationEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.PackageContentEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.PackageContentEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.PackageContentEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.PackageSelectedEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.PackageSelectedEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.PackageSelectedEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.PackageSelectedDetailEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.PackageSelectedDetailEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.PackageSelectedDetailEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.BaiDuAppLightEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.BaiDuAppLightEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.BaiDuAppLightEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierGroupLightEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupLightEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupLightEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierGroupTemplateEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupTemplateEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupTemplateEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierGroupLogoImageEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupLogoImageEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupLogoImageEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierGroupFeatureEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupFeatureEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupFeatureEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierGroupAdvertisementEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupAdvertisementEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupAdvertisementEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDoNotSendTimeEntityRepository"
   service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDoNotSendTimeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
   type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDoNotSendTimeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <!--HuangTaiJi-->
  <component id="Ets.SingleApi.Repository.OptionGroupEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.OptionGroupEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.OptionGroupEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.CustomizationOptionEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.CustomizationOptionEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.CustomizationOptionEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDishCustomizationEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishCustomizationEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishCustomizationEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDishGroupEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishGroupEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDishGroupEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.LoginOAuthEntityRepository"
    service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.LoginOAuthEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
    type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.LoginOAuthEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.TableReservationEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.TableReservationEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.TableReservationEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.PaymentRecordEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.PaymentRecordEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.PaymentRecordEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.OrderDetailEntityRepository"
service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.OrderDetailEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.OrderDetailEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDeskTimeEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDeskTimeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDeskTimeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.DeskTypeLockLogEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.DeskTypeLockLogEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.DeskTypeLockLogEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.DeskTypeEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.DeskTypeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.DeskTypeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.DeskBookingEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.DeskBookingEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.DeskBookingEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.QueueDeskTypeLockLogEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.QueueDeskTypeLockLogEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.QueueDeskTypeLockLogEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.QueueEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.QueueEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.QueueEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierDeskEntityRepository"
  service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierDeskEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
  type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierDeskEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.TableTypeEntityRepository"
service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.TableTypeEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.TableTypeEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.TableDeskEntityRepository"
service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.TableDeskEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.TableDeskEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierPlatformRelationEntityRepository"
service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierPlatformRelationEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierPlatformRelationEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>

  <component id="Ets.SingleApi.Repository.SupplierGroupPlatformEntityRepository"
service="Ets.SingleApi.Services.IRepository.INHibernateRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupPlatformEntity, Ets.SingleApi.Model]],Ets.SingleApi.Services"
type="Ets.SingleApi.Repository.SingleApiRepository`1[[Ets.SingleApi.Model.Repository.SupplierGroupPlatformEntity, Ets.SingleApi.Model]], Ets.SingleApi.Repository">
  </component>
</configuration>