<?xml version="1.0"?>
<configuration>
  <!--Payment-->
  <component id="Ets.SingleApi.Services.WaiMaiUmPayment"
       service="Ets.SingleApi.Services.IPayment, Ets.SingleApi.Services"
       type="Ets.SingleApi.Services.WaiMaiUmPayment, Ets.SingleApi.Services">
    <parameters>
      <deliveryEntityRepository>${Ets.SingleApi.Repository.DeliveryEntityRepository}</deliveryEntityRepository>
    </parameters>
  </component>

  <!--OrderNumber-->
  <component id="Ets.SingleApi.Services.WaiMaiOrderNumber"
         service="Ets.SingleApi.Services.IOrderNumber, Ets.SingleApi.Services"
         type="Ets.SingleApi.Services.WaiMaiOrderNumber, Ets.SingleApi.Services">
    <parameters>
      <orderNumberDcEntityRepository>${Ets.SingleApi.Repository.OrderNumberDcEntityRepository}</orderNumberDcEntityRepository>
    </parameters>
  </component>
  <component id="Ets.SingleApi.Services.DingTaiOrderNumber"
         service="Ets.SingleApi.Services.IOrderNumber, Ets.SingleApi.Services"
         type="Ets.SingleApi.Services.DingTaiOrderNumber, Ets.SingleApi.Services">
    <parameters>
      <orderNumberDtEntityRepository>${Ets.SingleApi.Repository.OrderNumberDtEntityRepository}</orderNumberDtEntityRepository>
    </parameters>
  </component>
  <component id="Ets.SingleApi.Services.TangShiOrderNumber"
         service="Ets.SingleApi.Services.IOrderNumber, Ets.SingleApi.Services"
         type="Ets.SingleApi.Services.TangShiOrderNumber, Ets.SingleApi.Services">
    <parameters>
      <orderNumberDtEntityRepository>${Ets.SingleApi.Repository.OrderNumberDtEntityRepository}</orderNumberDtEntityRepository>
    </parameters>
  </component>
  
  <!--Login-->
  <component id="Ets.SingleApi.Services.TelephoneLogin"
           service="Ets.SingleApi.Services.ILogin, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.TelephoneLogin, Ets.SingleApi.Services">
    <parameters>
      <loginEntityRepository>${Ets.SingleApi.Repository.LoginEntityRepository}</loginEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
    </parameters>
  </component>
  <component id="Ets.SingleApi.Services.EmailLogin"
           service="Ets.SingleApi.Services.ILogin, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.EmailLogin, Ets.SingleApi.Services">
    <parameters>
      <loginEntityRepository>${Ets.SingleApi.Repository.LoginEntityRepository}</loginEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
    </parameters>
  </component>
  <component id="Ets.SingleApi.Services.AuthTeleLogin"
           service="Ets.SingleApi.Services.ILogin, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.AuthTeleLogin, Ets.SingleApi.Services">
    <parameters>
      <loginEntityRepository>${Ets.SingleApi.Repository.LoginEntityRepository}</loginEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
    </parameters>
  </component>

  <!--SendPassword-->
  <component id="Ets.SingleApi.Services.TelephoneSendPassword"
           service="Ets.SingleApi.Services.ISendPassword, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.TelephoneSendPassword, Ets.SingleApi.Services">
    <parameters>
      <smsDetailServices>${Ets.SingleApi.Services.DetailServices.SmsDetailServices}</smsDetailServices>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.EmailSendPassword"
           service="Ets.SingleApi.Services.ISendPassword, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.EmailSendPassword, Ets.SingleApi.Services">
  </component>

  <!--Exists-->
  <component id="Ets.SingleApi.Services.EmailExists"
           service="Ets.SingleApi.Services.IExists, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.EmailExists, Ets.SingleApi.Services">
    <parameters>
      <loginEntityRepository>${Ets.SingleApi.Repository.LoginEntityRepository}</loginEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
    </parameters>
  </component>
  <component id="Ets.SingleApi.Services.TelephoneExists"
           service="Ets.SingleApi.Services.IExists, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.TelephoneExists, Ets.SingleApi.Services">
    <parameters>
      <loginEntityRepository>${Ets.SingleApi.Repository.LoginEntityRepository}</loginEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
    </parameters>
  </component>

  <!--BusinessArea-->
  <component id="Ets.SingleApi.Services.CountryBusinessArea"
             service="Ets.SingleApi.Services.IBusinessArea, Ets.SingleApi.Services"
             type="Ets.SingleApi.Services.CountryBusinessArea, Ets.SingleApi.Services">
    <parameters>
      <regionEntityRepository>${Ets.SingleApi.Repository.RegionEntityRepository}</regionEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.ProvinceBusinessArea"
           service="Ets.SingleApi.Services.IBusinessArea, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.ProvinceBusinessArea, Ets.SingleApi.Services">
    <parameters>
      <regionEntityRepository>${Ets.SingleApi.Repository.RegionEntityRepository}</regionEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.CityBusinessArea"
           service="Ets.SingleApi.Services.IBusinessArea, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.CityBusinessArea, Ets.SingleApi.Services">
    <parameters>
      <regionEntityRepository>${Ets.SingleApi.Repository.RegionEntityRepository}</regionEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.RegionBusinessArea"
           service="Ets.SingleApi.Services.IBusinessArea, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.RegionBusinessArea, Ets.SingleApi.Services">
    <parameters>
      <regionEntityRepository>${Ets.SingleApi.Repository.RegionEntityRepository}</regionEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.BusinessAreaBusinessArea"
           service="Ets.SingleApi.Services.IBusinessArea, Ets.SingleApi.Services"
           type="Ets.SingleApi.Services.BusinessAreaBusinessArea, Ets.SingleApi.Services">
    <parameters>
      <regionEntityRepository>${Ets.SingleApi.Repository.RegionEntityRepository}</regionEntityRepository>
      <addrBusinessAreaEntityRepository>${Ets.SingleApi.Repository.AddrBusinessAreaEntityRepository}</addrBusinessAreaEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.AllAreaBusinessArea"
         service="Ets.SingleApi.Services.IBusinessArea, Ets.SingleApi.Services"
         type="Ets.SingleApi.Services.AllAreaBusinessArea, Ets.SingleApi.Services">
    <parameters>
      <regionEntityRepository>${Ets.SingleApi.Repository.RegionEntityRepository}</regionEntityRepository>
      <addrBusinessAreaEntityRepository>${Ets.SingleApi.Repository.AddrBusinessAreaEntityRepository}</addrBusinessAreaEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.UserAllOrders"
     service="Ets.SingleApi.Services.IUserOrders, Ets.SingleApi.Services"
     type="Ets.SingleApi.Services.UserAllOrders, Ets.SingleApi.Services">
    <parameters>
      <deliveryEntityRepository>${Ets.SingleApi.Repository.DeliveryEntityRepository}</deliveryEntityRepository>
      <supplierEntityRepository>${Ets.SingleApi.Repository.SupplierEntityRepository}</supplierEntityRepository>
      <tableReservationEntityRepository>${Ets.SingleApi.Repository.TableReservationEntityRepository}</tableReservationEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.UserWaiMaiOrders"
       service="Ets.SingleApi.Services.IUserOrders, Ets.SingleApi.Services"
       type="Ets.SingleApi.Services.UserWaiMaiOrders, Ets.SingleApi.Services">
    <parameters>
      <deliveryEntityRepository>${Ets.SingleApi.Repository.DeliveryEntityRepository}</deliveryEntityRepository>
      <supplierEntityRepository>${Ets.SingleApi.Repository.SupplierEntityRepository}</supplierEntityRepository>
    </parameters>
  </component>

  <component id="Ets.SingleApi.Services.UserDingTaiOrders"
       service="Ets.SingleApi.Services.IUserOrders, Ets.SingleApi.Services"
       type="Ets.SingleApi.Services.UserDingTaiOrders, Ets.SingleApi.Services">
    <parameters>
      <tableReservationEntityRepository>${Ets.SingleApi.Repository.TableReservationEntityRepository}</tableReservationEntityRepository>
    </parameters>
  </component>

  <!--DetailServices-->
  <component id="Ets.SingleApi.Services.DetailServices.SmsDetailServices"
         service="Ets.SingleApi.Services.IDetailServices.ISmsDetailServices, Ets.SingleApi.Services"
         type="Ets.SingleApi.Services.DetailServices.SmsDetailServices, Ets.SingleApi.Services">
    <parameters>
      <smsExternalServices>${Ets.SingleApi.ExternalServices.SmsExternalServices}</smsExternalServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.DetailServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.DetailServices.UsersDetailServices"
       service="Ets.SingleApi.Services.IDetailServices.IUsersDetailServices, Ets.SingleApi.Services"
       type="Ets.SingleApi.Services.DetailServices.UsersDetailServices, Ets.SingleApi.Services">
    <parameters>
      <autorizationEntityRepository>${Ets.SingleApi.Repository.AutorizationEntityRepository}</autorizationEntityRepository>
      <tokenEntityRepository>${Ets.SingleApi.Repository.TokenEntityRepository}</tokenEntityRepository>
      <loginEntityRepository>${Ets.SingleApi.Repository.LoginEntityRepository}</loginEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
      <sourceTypeEntityRepository>${Ets.SingleApi.Repository.SourceTypeEntityRepository}</sourceTypeEntityRepository>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.DetailServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.DetailServices.WaiMaiOrderDetailServices"
     service="Ets.SingleApi.Services.IDetailServices.IWaiMaiOrderDetailServices, Ets.SingleApi.Services"
     type="Ets.SingleApi.Services.DetailServices.WaiMaiOrderDetailServices, Ets.SingleApi.Services">
    <parameters>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
      <deliveryEntityRepository>${Ets.SingleApi.Repository.DeliveryEntityRepository}</deliveryEntityRepository>
      <orderEntityRepository>${Ets.SingleApi.Repository.OrderEntityRepository}</orderEntityRepository>
      <supplierDishEntityRepository>${Ets.SingleApi.Repository.SupplierDishEntityRepository}</supplierDishEntityRepository>
      <supplierEntityRepository>${Ets.SingleApi.Repository.SupplierEntityRepository}</supplierEntityRepository>
      <customerAddressEntityRepository>${Ets.SingleApi.Repository.CustomerAddressEntityRepository}</customerAddressEntityRepository>
      <deliveryAddressEntityRepository>${Ets.SingleApi.Repository.DeliveryAddressEntityRepository}</deliveryAddressEntityRepository>
      <smsDetailServices>${Ets.SingleApi.Services.DetailServices.SmsDetailServices}</smsDetailServices>
      <orderNumber>${Ets.SingleApi.Services.WaiMaiOrderNumber}</orderNumber>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.DetailServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <!--Services-->
  <component id="Ets.SingleApi.Services.FilterServices"
    service="Ets.SingleApi.Controllers.IServices.IFilterServices, Ets.SingleApi.Controllers"
    type="Ets.SingleApi.Services.FilterServices, Ets.SingleApi.Services">
    <parameters>
      <autorizationEntityRepository>${Ets.SingleApi.Repository.AutorizationEntityRepository}</autorizationEntityRepository>
      <tokenEntityRepository>${Ets.SingleApi.Repository.TokenEntityRepository}</tokenEntityRepository>
    </parameters>
  </component>
  <component id="Ets.SingleApi.Services.SmsServices"
   service="Ets.SingleApi.Controllers.IServices.ISmsServices, Ets.SingleApi.Controllers"
   type="Ets.SingleApi.Services.SmsServices, Ets.SingleApi.Services">
    <parameters>
      <smsDetailServices>${Ets.SingleApi.Services.DetailServices.SmsDetailServices}</smsDetailServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.AuthenServices"
            service="Ets.SingleApi.Controllers.IServices.IAuthenServices, Ets.SingleApi.Controllers"
            type="Ets.SingleApi.Services.AuthenServices, Ets.SingleApi.Services">
    <parameters>
      <autorizationEntityRepository>${Ets.SingleApi.Repository.AutorizationEntityRepository}</autorizationEntityRepository>
      <tokenEntityRepository>${Ets.SingleApi.Repository.TokenEntityRepository}</tokenEntityRepository>
      <smsDetailServices>${Ets.SingleApi.Services.DetailServices.SmsDetailServices}</smsDetailServices>
      <loginList>
        <item>
          <item>${Ets.SingleApi.Services.TelephoneLogin}</item>
          <item>${Ets.SingleApi.Services.EmailLogin}</item>
          <item>${Ets.SingleApi.Services.AuthTeleLogin}</item>
        </item>
      </loginList>
      <sendPasswordList>
        <item>
          <item>${Ets.SingleApi.Services.TelephoneSendPassword}</item>
          <item>${Ets.SingleApi.Services.EmailSendPassword}</item>
        </item>
      </sendPasswordList>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.UsersServices"
     service="Ets.SingleApi.Controllers.IServices.IUsersServices, Ets.SingleApi.Controllers"
     type="Ets.SingleApi.Services.UsersServices, Ets.SingleApi.Services">
    <parameters>
      <autorizationEntityRepository>${Ets.SingleApi.Repository.AutorizationEntityRepository}</autorizationEntityRepository>
      <loginEntityRepository>${Ets.SingleApi.Repository.LoginEntityRepository}</loginEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
      <customerFavoriteEntityRepository>${Ets.SingleApi.Repository.CustomerFavoriteEntityRepository}</customerFavoriteEntityRepository>
      <customerAddressEntityRepository>${Ets.SingleApi.Repository.CustomerAddressEntityRepository}</customerAddressEntityRepository>
      <supplierEntityRepository>${Ets.SingleApi.Repository.SupplierEntityRepository}</supplierEntityRepository>
      <supplierCuisineEntityRepository>${Ets.SingleApi.Repository.SupplierCuisineEntityRepository}</supplierCuisineEntityRepository>
      <supplierImageEntityRepository>${Ets.SingleApi.Repository.SupplierImageEntityRepository}</supplierImageEntityRepository>
      <regionEntityRepository>${Ets.SingleApi.Repository.RegionEntityRepository}</regionEntityRepository>
      <usersDetailServices>${Ets.SingleApi.Services.DetailServices.UsersDetailServices}</usersDetailServices>
      <userOrdersList>
        <item>
          <item>${Ets.SingleApi.Services.UserAllOrders}</item>
          <item>${Ets.SingleApi.Services.UserWaiMaiOrders}</item>
          <item>${Ets.SingleApi.Services.UserDingTaiOrders}</item>
        </item>
      </userOrdersList>
      <existsList>
        <item>
          <item>${Ets.SingleApi.Services.EmailExists}</item>
          <item>${Ets.SingleApi.Services.TelephoneExists}</item>
        </item>
      </existsList>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.BusinessAreaServices"
             service="Ets.SingleApi.Controllers.IServices.IBusinessAreaServices, Ets.SingleApi.Controllers"
             type="Ets.SingleApi.Services.BusinessAreaServices, Ets.SingleApi.Services">
    <parameters>
      <businessAreaList>
        <item>
          <item>${Ets.SingleApi.Services.CountryBusinessArea}</item>
          <item>${Ets.SingleApi.Services.ProvinceBusinessArea}</item>
          <item>${Ets.SingleApi.Services.CityBusinessArea}</item>
          <item>${Ets.SingleApi.Services.RegionBusinessArea}</item>
          <item>${Ets.SingleApi.Services.BusinessAreaBusinessArea}</item>
          <item>${Ets.SingleApi.Services.AllAreaBusinessArea}</item>
        </item>
      </businessAreaList>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.CuisineServices"
       service="Ets.SingleApi.Controllers.IServices.ICuisineServices, Ets.SingleApi.Controllers"
       type="Ets.SingleApi.Services.CuisineServices, Ets.SingleApi.Services">
    <parameters>
      <cuisineEntityRepository>${Ets.SingleApi.Repository.CuisineEntityRepository}</cuisineEntityRepository>
      <orderNumberDcEntityRepository>${Ets.SingleApi.Repository.OrderNumberDcEntityRepository}</orderNumberDcEntityRepository>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.SupplierServices"
     service="Ets.SingleApi.Controllers.IServices.ISupplierServices, Ets.SingleApi.Controllers"
     type="Ets.SingleApi.Services.SupplierServices, Ets.SingleApi.Services">
    <parameters>
      <supplierEntityRepository>${Ets.SingleApi.Repository.SupplierEntityRepository}</supplierEntityRepository>
      <supplierCuisineEntityRepository>${Ets.SingleApi.Repository.SupplierCuisineEntityRepository}</supplierCuisineEntityRepository>
      <supplierCategoryEntityRepository>${Ets.SingleApi.Repository.SupplierCategoryEntityRepository}</supplierCategoryEntityRepository>
      <supplierMenuCategoryEntityRepository>${Ets.SingleApi.Repository.SupplierMenuCategoryEntityRepository}</supplierMenuCategoryEntityRepository>
      <suppTimeTableDisplayEntityRepository>${Ets.SingleApi.Repository.SuppTimeTableDisplayEntityRepository}</suppTimeTableDisplayEntityRepository>
      <supplierFeatureEntityRepository>${Ets.SingleApi.Repository.SupplierFeatureEntityRepository}</supplierFeatureEntityRepository>
      <timeTableDisplayEntityRepository>${Ets.SingleApi.Repository.TimeTableDisplayEntityRepository}</timeTableDisplayEntityRepository>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.OrderServices"
   service="Ets.SingleApi.Controllers.IServices.IOrderServices, Ets.SingleApi.Controllers"
   type="Ets.SingleApi.Services.OrderServices, Ets.SingleApi.Services">
    <parameters>
      <supplierEntityRepository>${Ets.SingleApi.Repository.SupplierEntityRepository}</supplierEntityRepository>
      <customerEntityRepository>${Ets.SingleApi.Repository.CustomerEntityRepository}</customerEntityRepository>
      <deliveryEntityRepository>${Ets.SingleApi.Repository.DeliveryEntityRepository}</deliveryEntityRepository>
      <customerAddressEntityRepository>${Ets.SingleApi.Repository.CustomerAddressEntityRepository}</customerAddressEntityRepository>
      <orderDetailServices>${Ets.SingleApi.Services.DetailServices.WaiMaiOrderDetailServices}</orderDetailServices>
      <orderNumberList>
        <item>
          <item>${Ets.SingleApi.Services.WaiMaiOrderNumber}</item>
          <item>${Ets.SingleApi.Services.DingTaiOrderNumber}</item>
          <item>${Ets.SingleApi.Services.TangShiOrderNumber}</item>
        </item>
      </orderNumberList>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>

  <component id="Ets.SingleApi.Services.PaymentServices"
            service="Ets.SingleApi.Controllers.IServices.IPaymentServices, Ets.SingleApi.Controllers"
            type="Ets.SingleApi.Services.PaymentServices, Ets.SingleApi.Services">
    <parameters>
      <deliveryEntityRepository>${Ets.SingleApi.Repository.DeliveryEntityRepository}</deliveryEntityRepository>
      <paymentList>
        <item>
          <item>${Ets.SingleApi.Services.WaiMaiUmPayment}</item>
        </item>
      </paymentList>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.ServicesInterceptor}</interceptor>
    </interceptors>
  </component>
</configuration>