<?xml version="1.0"?>
<configuration>
  <component id="Ets.SingleApi.Controllers.Wap.WapSupplierController"
      type="Ets.SingleApi.Controllers.Wap.WapSupplierController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <supplierServices>${Ets.SingleApi.Services.SupplierServices}</supplierServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.WapControllerInterceptor}</interceptor>
    </interceptors>
  </component>
  <component id="Ets.SingleApi.Controllers.Wap.WapOrdersController"
      type="Ets.SingleApi.Controllers.Wap.WapOrdersController, Ets.SingleApi.Controllers" lifeStyle="Transient">
    <parameters>
      <orderServices>${Ets.SingleApi.Services.OrderServices}</orderServices>
    </parameters>
    <interceptors>
      <interceptor>${Ets.SingleApi.Interceptors.WapControllerInterceptor}</interceptor>
    </interceptors>
  </component>
</configuration>