<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <!--<root>
      <level value="ALL"/>
      <appender-ref ref="SysAppender"/>
    </root>-->
    <logger name="Ets.SingleApi.WapControllers">
      <level value="DEBUG"/>
      <appender-ref ref="WapControllersAppender" />
    </logger>

    <logger name="Ets.SingleApi.Controllers">
      <level value="DEBUG"/>
      <appender-ref ref="ControllersAppender" />
    </logger>

    <logger name="Ets.SingleApi.Services">
      <level value="DEBUG"/>
      <appender-ref ref="ServicesAppender" />
    </logger>

    <logger name="Ets.SingleApi.DetailServices">
      <level value="DEBUG"/>
      <appender-ref ref="DetailServicesAppender" />
    </logger>

    <logger name="Ets.SingleApi.ExternalServices">
      <level value="DEBUG"/>
      <appender-ref ref="ExternalServicesAppender" />
    </logger>

    <logger name="Ets.SingleApi.Filter">
      <level value="DEBUG"/>
      <appender-ref ref="FilterAppender" />
    </logger>

    <logger name="Ets.SingleApi.Cache">
      <level value="DEBUG"/>
      <appender-ref ref="CacheAppender" />
    </logger>

    <logger name="Ets.SingleApi.System">
      <level value="DEBUG"/>
      <appender-ref ref="SystemAppender" />
    </logger>

    <logger name="Ets.SingleApi.Debug">
      <level value="DEBUG"/>
      <appender-ref ref="DebugMessageAppender" />
    </logger>

    <logger name="NHibernate">
      <level value="OFF"/>
      <appender-ref ref="NHibernateAppender" />
    </logger>

    <!--The format recording the log of IBB-->
    <appender name="WapControllersAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/WapControllers/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="ControllersAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Controllers/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="ServicesAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Services/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="DetailServicesAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/DetailServices/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="ExternalServicesAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/ExternalServices/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="FilterAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Filter/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="CacheAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Cache/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="SystemAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/System/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--The format recording the log of IBB-->
    <appender name="DebugMessageAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/DebugMessage/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/NHibernate/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>
  </log4net>
</configuration>
